@model BookishWebApplication.Models.View.SearchViewModel

@{
    ViewData["Title"] = "Search";
}

<div class="text-center">
    <h1 class="display-4">Book Search</h1>
    
    <form class="input-group mb-3" action="search">
        <input name="searchString" id="searchString" type="text" class="form-control" placeholder="Enter book title to search" aria-label="Enter book title to search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <input class="btn btn-outline-secondary" type="submit" value="Search"/>
        </div>
    </form>

@{
    if (string.IsNullOrEmpty(Model.SearchString))
    {
        <p>@Model.SearchString</p>
        <p>Please search for a book</p>
    }
    else if (!Model.Books.Any())
    {
        <p>No books with title @Model.SearchString found</p>
    }
    else
    {
        foreach (var book in Model.Books)
        {
            <p>Searching for: @Model.SearchString</p>

            <p>Book: @book.Title</p>
            if (book.PublicationYear == 0)
            {
                <p>Published: Unknown</p>
            }
            else
            {
                <p>Published: @book.PublicationYear</p>
            }
            <br/>

        }

    }
}
</div>