@model BookishWebApplication.Models.View.SearchViewModel

@{
    ViewData["Title"] = "Search";
}

<div class="text-center">
    <h1 class="display-4">Book Search</h1>

@{
    if (string.IsNullOrEmpty(Model.SearchString))
    {
        <p>@Model.SearchString</p>
        <p>Please search for a book</p>
    }
    else if (!Model.Books.Any())
    {
        <p>No books with title @Model.SearchString found</p>
    }
    else
    {
        foreach (var book in Model.Books)
        {
            <p>Searching for: @Model.SearchString</p>

            <p>Book: @book.Title</p>
            if (book.PublicationYear == 0)
            {
                <p>Published: Unknown</p>
            }
            else
            {
                <p>Published: @book.PublicationYear</p>
            }
            <br/>

        }

    }
}
</div>