@model BookishWebApplication.Models.View.BooksViewModel
@{
    ViewData["Title"] = "Book";
}

<div class="text-center">
    
    @{
        foreach (var book in Model.Books)
        {
            <br/>
            <p>Book: @book.Title</p>
            if (book.Authors.First() != null)
            {
                <p>Author: @(String.Join(", ", book.Authors.Select(author => $"{author.FirstName} {author.LastName}")))</p>
            }
            else
            {
                <p>Author: No authors added</p>
            }
            <p>Published: @(book.PublicationYear == 0 ? "Unknown" : book.PublicationYear)</p>
            <p>ISBN: @(book.Isbn == null ? "Unknown" : book.Isbn)</p>
            <p>Copies available: @book.PrintCount</p>
            <br/>
        }
    }
</div>