@using BookishWebApplication.Models.Database
@model BookishWebApplication.Models.View.BookViewModel
@{
    ViewData["Title"] = "Book";
}

<div class="text-center">
    

    <br/>
    <p>Book: @Model.Book.Title</p>
    @if (Model.Book.Authors.First() != null)
    {
        <p>Author: @(String.Join(", ", @Model.Book.Authors.Select(author => $"{author.FirstName} {author.LastName}")))</p>
    }
    else
    {
        <p>Author: No authors added</p>
    }
    <p>Published: @(Model.Book.PublicationYear == 0 ? "Unknown" : Model.Book.PublicationYear)</p>
    <p>ISBN: @(Model.Book.Isbn == null ? "Unknown" : Model.Book.Isbn)</p>
    <p>Copies available: @Model.Book.PrintCount</p>
    <br/>


    @using (Html.BeginForm("AddAuthorToBook", "Books", FormMethod.Post))
    {
        @Html.DropDownListFor(m => m.BookAuthor.AuthorId,
            new SelectList(
                Model.AllAuthors, "AuthorId", "FullName"
                )
            )
        @Html.HiddenFor(m => m.BookAuthor.BookId)
        <input type="submit" value="Submit"/>
    }
    
    @* TODO make so you can't add same author twice *@
    
</div>